.hidden {
  display: none;
}


/* ======================================== */
/* ロード画面 */
/* ======================================== */
.arjs-loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFE7E7;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo{
  width: 15em;
  height: 15em;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);  border: #fff 0.6em solid;
}
.main-logo::after{
  content: '';
  border: #FFE7E7 0.3em solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.animoSpinner {
  width: 15em;
  height: 15em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 0.2em solid #fff;
  border-left-color: #f39c12;
  border-radius: 50%;
  z-index: 10;
  animation: spin 1.2s linear infinite;
}

@keyframes spin{
  0%{
    transform: translate(-50%, -50%);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }

}

.icon{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  height: 10em;
}
.icon img{
  width: 100%;
  height: 100%;
}

.main-logo .product-name{
  color: #E56B6B;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8em;
  font-size: 1.2em;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.say-hi-button {
  padding: 0.25em;
  border-radius: 4px;
  border: none;
  background: white;
  color: black;
  width: 4em;
  height: 2em;
}

.loading-text{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2em;
  color: #E56B6B;
}

.copy-text{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ======================================== */
/* 認識待機画面 */
/* ======================================== */
#guideUi{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFE7E7;
  background-color: rgba(245, 219, 219, 0.3);
}

.sakura-top{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100%;
}

.sakura-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 100%;
  transform: rotateZ(180deg);
}

.guide{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  max-width: 600px;
  max-height: 400px;
  text-align: center;
}

.guide-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width:100%;
  color: #fff;
  font-size: 1.3em;
  font-style: bold;
  text-shadow: 1px 1px 1px #888;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.frame-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
  overflow: hidden;
  z-index: 100;
  opacity: 100%;
}

.frame-img img{
  width: 100%;
  height: 100%;
}


/* 再生ボタン */
.video_play {
  cursor: pointer;
  position: absolute;
  width: 8em;
  height: 8em;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 0.4em solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  font-size: 10px;
  z-index: 100;
}

.video_play::after {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 2em solid transparent;
  border-left: 3em solid currentColor;
  box-sizing: border-box;
  content: "";
  cursor: pointer;
  pointer-events: none;
}

/* 動画変更ボタン */
.video_change{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  background: rgba(0, 0, 0, 0);
  z-index: 100;
  -webkit-appearance: none;
}

.video_change.left_btn{
  right: 10px;
  border-right: none;
  border-left: 30px solid #333;
  
}

.video_change.right_btn{
  left: 10px;
  border-left: none;
  border-right: 30px solid #333;
}

.pin_button {
  cursor: pointer;
  position: fixed;
  width: 8em;
  height: 8em;
  top: 10px;
  right: 10px; /* 右上に配置 */
  border: none; /* ボーダーは不要 */
  border-radius: 50%;
  background: url('pin.png') center/contain no-repeat; /* ピンのイラストのパスを指定 */
  background-color: rgba(255, 255, 255, 0.7); /* 半透明にする */
  color: transparent; /* テキストを透明にする */
  font-size: 10px;
  z-index: 100;
  opacity: 0.8; /* 0から1までの値で透明度を指定 */
  background-size: 60%;
}

.pin_button:active,
.pin_button:focus, /* 追加 */
.pin_button:hover {
  background-color: rgba(255, 255, 255, 0.9); /* 押されたりホバーされたりした際の半透明度を変更 */
  opacity: 1; /* 押されたりホバーされたりした際の透明度を変更 */
}

/* 固定後の動画フレーム */
.pin_video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px; /* 任意の最大横幅を指定 */
  aspect-ratio: 9 / 16; /* 縦横比を縦長に保つための設定 */
  overflow: hidden;
}